*{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#topmenu{
    padding-bottom: 115px;
    color: aliceblue;
    background-image: url(../images/background-superior.svg);
}

#logo{
    margin-top: 50px;
    margin-left: 75px;
}

#title-topmenu{
    margin-left: 172px;
    margin-top: 50px;
    font-size: 40px;
    line-height: 50px;
}

#text-topmenu{
    margin-left: 172px;
    margin-top: 35px;
    font-size: 20px;
    line-height: 30px;
    
}

#menu-informational{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    background-color: #EAECE5;
}
.icone{
    margin: 50px 0px 50px 100px;
    padding: 25px;
}
.text-informational {
    display: flex;
    align-items: center;
}